#subcloud-comment-title {
  width: fit-content;
  margin-left: auto;
  margin-bottom: -10px;
}

#title.ytd-comments-header-renderer {
  align-items: flex-start !important;
}

#label.yt-dropdown-menu {
  margin-top: 3px !important;
}

.chakra-progress__track {
  stroke: transparent !important;
}

.ytp-left-controls {
  overflow: visible !important;
}

#subcloud-sub-component {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.subcloud-placer {
  position: relative;
  z-index: 40;
  margin-top: 47%;
}

.chakra-text {
  line-height: normal;
}