#subcloud-comment-title {
  width: fit-content;
  margin-left: auto;
  margin-bottom: -10px;
}

#title.ytd-comments-header-renderer {
  align-items: flex-start !important;
}

#label.yt-dropdown-menu {
  margin-top: 3px !important;
}

.chakra-progress__track {
  stroke: transparent !important;
}

.ytp-left-controls {
  overflow: visible !important;
}

#subcloud-sub-component {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.subcloud-placer {
  position: relative;
  z-index: 40;
  margin-top: 47%;
}

chakra-scope p {
  line-height: normal;
}

chakra-scope span {
  line-height: normal;
}

chakra-scope a {
  line-height: normal;
}

.default-language .chakra-checkbox__control {
  width: 18px;
  height: 18px;
}

.default-language svg{
  width: 10px;
  height: 10px;
}

.default-language .chakra-checkbox__label {
  font-size: 18px;
}

.upload-stepper span {
  font-size: 14px;
}

.upload-stepper span:nth-child(2) {
  margin-top: 2px;
}

.upload-stepper > div:nth-child(2){
  visibility:hidden;
}

.upload-stepper > div:nth-child(1){
  width: 140px;
}